<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<startup>
<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
</startup>
<connectionStrings>
<add name="VideoClub"
connectionString="Server=127.0.0.1,1433; Database=VideoClub; User Id=SA; Password=Bootcamp18"
providerName="System.Data.SqlClient"/>
</connectionStrings>
</configuration>